# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# Data & Config files
data/
*.json
.env

# Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
